<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xue.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <update id="updateUserByList" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";" open="" close="">
      update t_user
      <set>
        <if test="item.userName !=null and item.userName!=''">
          user_name=#{item.userName},
        </if>
        <if test="item.password !=null and item.password!=''">
          password=#{item.password},
        </if>
        <if test="item.nickName !=null and item.nickName!=''">
          nick_name=#{item.nickName},
        </if>
        <if test="item.address !=null and item.address!=''">
          address=#{item.address}
        </if>
      </set>
      where id=#{item.id}
    </foreach>
  </update>
</mapper>